html
{
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
#logo
{
  width:2.5vw;
  height: 5vh;
}
#hh1
{
  text-align: center;
  font-family: 'Lobster', cursive;
}
#menuuu
{
  width: 35px;
  margin: 0px;
  margin-top: -0.5px;
  background-position: center;
  background-size: contain;
}
.w3-container
{
  float: left;
  margin-top: -55px;
}
nav
{
  background-image: linear-gradient(#10C135,#25963E);
  text-align: justify;
  margin: -8px;
}
ul
{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  font-size: 100%;
  margin: 0px;
}
li
{
  width: 12.5vw;
  font-size: 1em;
  text-align: center;
}
li a
{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover
{
  background-color: #111;
  font-size: 100%;
}
li a:visited
{
  background-color: #111;
  font-size: 100%;
}
.content
{
  width: 70vw;
  margin: auto;
  text-align: justify;
}
.back
{
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#head
{
  font-style: oblique;
  font-weight: bold;
}
#para
{
  border: 5px solid black;
  padding: 5px;
  line-height: 1.5;
  background-image: linear-gradient(#10C135,#25963E);
  margin: -8px;
}
#first
{
  float: left;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 2px;
  width: 14%;
  height: auto;
}
iframe
{
  height: 85vh;
  width: 70vw;
  margin: 0px;
  align-items: center;
}
.images
{
  text-align: center;
}
img
{
  margin: 10px;
  border: 2px solid black;
}
footer
{
  background-image: linear-gradient(to right,lightgreen,green,lightgreen);
  font-size: 20px;
  text-align: center;
  margin: -8px;
}
#slogan
{
  font-family: 'Anton', sans-serif;
  margin: 0px;
  margin-top: 8px;
}
#copyright
{
  margin: 0px;
}
