body
{
  margin: 0px;
  background-image: url("4K-Green-Photo-Free.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 10px;
  align-items: center;
}
#hh1
{
  text-align: center;
  font-family: 'Lobster', cursive;
}
#menuuu
{
  width: 35px;
  margin: 0px;
  margin-top: -0.5px;
  background-position: center;
  background-size: contain;
}
.w3-container
{
  float: left;
  margin-top: 20px;
}
.w3-bar-item, .w3-button
{
  margin: 0px;
}
header
{
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 110vw;
  background-color: white;
  margin: 0px;
  padding: 10px;
}
a
{
  border: 2px solid green;
  background-color: lightgreen;
  float: left;
  padding: 5px;
  text-decoration: none;
  color: black;
  margin: 10px;
}
a:hover
{
  text-decoration: underline;
  color: blue;
}
h1
{
  width: 100vw;
  margin: 0px;
}
#logo
{
  width: 40px;
}
#back
{
  width: 100%;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  background-attachment: fixed;
}
.collapsible
{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover
{
  background-color: #555;
}
.collapsible:after
{
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after
{
  content: "\2212";
}
.content
{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.ques
{
  padding: 10%;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 1.2em;
  height: 80vh;
}
#men
{
  width: 70vw;
  margin: auto;
  margin-top: 50px;
  color: black;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
footer
{
  background-image: linear-gradient(to right,lightgreen,green,lightgreen);
  font-size: 20px;
  width: 100vw;
  text-align: center;
  margin: 0px;
  position: static;
  align-items: flex-end;
  bottom: 0px;
}
#slogan
{
  font-family: 'Anton', sans-serif;
  margin: 0px;
  margin-top: 8px;
}
#copyright
{
  margin: 0px;
}
