



body{
  margin:0;
  padding: 0;
  background:  url("pokok.jpg") no-repeat;
  background-size: cover;
  color: black;
  font-family: "open sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
  background: white;
  color: green;
  margin: 0px;
  padding: 15px 15px 0 15px;
}
h1{
  margin: 0px;
}

.section{
  float: left;
  display: grid;
  position: sticky;
  top: 65%;
  left:37%;
  border-radius: 10px;
  width: auto;
  opacity: 0.9;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.container-boxes{
  margin: 0 auto;
  padding: 0;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 50vw;
}

.box{
  background: rgba(255,255,255,0.25);
  margin: 0px 10px;
  padding: 10px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  transition: all 500ms ease-out;
  height: 250px;
  width: 200px;

}


.box:hover{
  background: rgba(255,255,255,.7);
  transform: translateY(-30%);
  border-radius: 30px;
}

.box a{
  text-decoration: solid;
  color: black;

}


.text h3{
  text-transform: uppercase;
  margin-bottom: 0;
  border-radius: 10px;
  /**background-color: GhostWhite;**/

}

.text p{
  margin-top: 1rem;
  line-height: 1.5rem;
  font-size: 15px;
  font-style: italic;
  border-radius: 10px;
  /**background-color: LightGoldenRodYellow ;**/


}

.text{
  padding: .5rem;
  text-align: center;

}


footer
{
  background-image: linear-gradient(to right,green,lightgreen,green);
  background-position: bottom;
  font-size: 20px;
  bottom: -8px;
  text-align: center;
  position: relative;
  margin-bottom: -8px;
  height: 100px;
}
#slogan
{
  margin: 0px;
  margin-top: 8px;
  font-family: 'Anton', sans-serif;
}
#copyright
{
  margin: 0px;
}
